<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.example"
	versionCode = "10" 
	version     = "0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Random Alert</name>

    <description>
       	Simple app that just plays a sound at a random time based on given interval.
    </description>

    <author href="https://build.phonegap.com" email="brad@mcainternet.com">
        Brad Hagedorn 
    </author>

</widget>